@model SFBlog.BLL.ViewModel.UserRegisterViewModel

@{
	ViewData["Title"] = "Регистрация";
}

<div class="container-page">
	<div class="col-md-8 col-lg-6 col-xl-4">
		<h2>Регистрация</h2>
		<form class="" method="post" asp-controller="User" asp-action="Register"> 
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="FirstName"></label>
				<input class="form-control" asp-for="FirstName" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="LastName"></label>
				<input class="form-control" asp-for="LastName" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="UserName"></label>
				<input class="form-control" asp-for="UserName" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="Email"></label>
				<input class="form-control" type="email" asp-for="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="Password"></label>
				<input class="form-control" type="password" asp-for="Password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="PasswordReg"></label>
				<input class="form-control" type="password" asp-for="PasswordReg" />
				<span asp-validation-for="PasswordReg" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<input class="btn btn-primary" type="submit" value="Войти" />
			</div>
			<div class="form-outline mb-3">
				<span>Есть аккаунт?</span> 
				<a style="text-decoration:none" method="get" asp-controller="User" asp-action="Login">Вход</a>
			</div>
		</form>
	</div>
</div>