
@{
	ViewData["Title"] = "Доступ запрещен";
}

<h2 class="text-danger">Доступ запрещен</h2>
<button onclick="Error_goBack()" class="btn btn-primary" style="margin-top: 1em">Назад</button>
<script>
    function Error_goBack() {
        window.history.back()
    }
</script>