@{

}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">SFBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="GetPosts">Посты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tag" asp-action="GetTags">Теги</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="GetUsers">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="GetRoles">Роли</a>
                    </li>
                </ul>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-md-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <span>@User.Identity.Name</span>
                    <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Выход</a>
                }
                else
                {
                    <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Вход</a>
                    <a class="btn btn-outline-primary btn-sm" asp-controller="User" asp-action="Register">Регистрация</a>
                }
                 </div>


            </div>
        </div>
    </nav>
</header>