
@{
	ViewData["Title"] = "404 Ресурс не найден";
}

<h2 class="text-black">404 Ресурс не найден</h2>
<button onclick="Error_goBack()" class="btn btn-primary" style="margin-top: 1em">Назад</button>
<script>
    function Error_goBack() {
        window.history.back()
    }
</script>