@model SFBlog.BLL.ViewModel.CommentEditViewModel

@{
	ViewData["Title"] = "Редактирование комментария";
}

<div class="container-page">
	<div class="col-md-8 col-lg-6 col-xl-4">
		<h2>Редактирование комментария</h2>
		<form class="" method="post" asp-controller="Comment" asp-action="EditComment" asp-route-id="@Model.Id"> 
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="Text"></label>
				<input class="form-control" type="text" asp-for="Text" />
				<span asp-validation-for="Text" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<input class="btn btn-primary" type="submit" value="Добавить" />
			</div>
			<div class="form-outline mb-3">
				<a style="text-decoration:none" method="get" asp-controller="Post" asp-action="GetPost" asp-route-id="@Model.Id">Перейти к посту</a>
			</div>
		</form>
	</div>
</div>