@using SFBlog.DAL.Models
@model List<Tag>

@{
	ViewData["Title"] = "Теги";
}

<h5 class="card-title">Все теги</h5>
<div class="card w-75">
@foreach (var tag in Model)
{
	 <h5 class="card-title">@tag.Name</h5>
        <div>
            <a class="btn btn-outline-info button" method="get" asp-controller="Tag" asp-action="EditTag" asp-route-id="@tag.Id">Редактировать</a>
            <a class="btn btn-outline-danger button" method="post" asp-controller="Tag" asp-action="DeleteTag" asp-route-id="@tag.Id">Удалить</a>
        </div>
}
</div>