@model SFBlog.BLL.ViewModel.RoleEditViewModel

@{
	ViewData["Title"] = "Редактирование роли";
}

<div class="container-page">
	<div class="col-md-8 col-lg-6 col-xl-4">
		<h2>Добавление роли</h2>
		<form class="" method="post" asp-controller="Role" asp-action="EditRole"> 
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="Name"></label>
				<input class="form-control" type="text" asp-for="Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<label class="form-label" asp-for="Description"></label>
				<input class="form-control" type="text" asp-for="Description" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-outline mb-3">
				<input class="btn btn-primary" type="submit" value="Добавить" />
			</div>
			<div class="form-outline mb-3">
				<a style="text-decoration:none" method="get" asp-controller="Role" asp-action="GetRoles">Перейти к списку всех ролей</a>
			</div>
		</form>
	</div>
</div>